body {
    margin: 0;
    overflow: hidden;
}
#myCanvas {
    display: block;
}

#button1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    position: absolute;
    font-size: 2.5em;
    text-transform: uppercase;
    padding: 7px 20px;
    left: 40%;
    width: 200px;
    margin-left: -100px;
    top: 68%;
    border-radius: 25px;
    color: white;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
    border: 15px solid transparent;
    border-bottom-color: rgba(0,0,0,0.35);
    background: rgb(224, 59, 67);
    cursor: pointer;

    animation: pulse 1s infinite alternate;
    transition: background 0.4s, border 0.2s, margin 1s;
}
#button1:hover {
    background: hsla(220, 100%, 60%, 1);
    margin-top: -1px;

    animation: none;
}
#button1:active {
    border-bottom-width: 0;
    margin-top: 5px;
}
@keyframes pulse {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 6px; 
    } 
}
div {
    margin:0 auto;
    text-align:center; 
}

#button2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    position: absolute;
    font-size: 2.5em;
    text-transform: uppercase;
    padding: 7px 20px;
    left: 60%;
    width: 200px;
    margin-left: -100px;
    top: 68%;
    border-radius: 25px;
    color: white;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
    border: 15px solid transparent;
    border-bottom-color: rgba(0,0,0,0.35);
    background: rgb(245, 135, 11);
    cursor: pointer;

    animation: pulse 1s infinite alternate;
    transition: background 0.4s, border 0.2s, margin 1s;
}
#button2:hover {
    background: hsla(220, 100%, 60%, 1);
    margin-top: -1px;

    animation: none;
}
#button2:active {
    border-bottom-width: 0;
    margin-top: 5px;
}